<md-grid-list md-cols-xl="4" md-cols-lg="3" md-cols-sm="2" md-cols-xs="1" md-row-height="400px" md-gutter="10px">
    <md-grid-tile>
        <website-form on-save="$ctrl.addWebsite"></website-form>
    </md-grid-tile>
    <md-grid-tile ng-repeat="website in $ctrl.websites">
        
        <ms-widget layout="column" flex="100">

            <ms-widget-front class="white-bg">

                <div class="ph-8 pv-16 h-55" layout="row" layout-align="space-between center">
                    
                    <div layout="row" layout-align="start center" flex>
                        <md-icon class="m-0 mr-8" md-font-icon="icon-server-network"></md-icon>
                        <div class="h3 ellipsis" flex>{{website.url}}</div>
                    </div>

                    <md-menu>
                        
                        <md-button class="md-icon-button" ng-click="$mdMenu.open()" aria-label="more">
                            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                        </md-button>

                        <md-menu-content width="3">

                            <md-menu-item>
                                <md-button ng-click="$ctrl.editWebsite(website, $event)" aria-label="Edit website">
                                    Edit
                                </md-button>
                            </md-menu-item>

                            <md-menu-item>
                                <md-button ng-click="$ctrl.resetMeasurements(website)" aria-label="Remove website">
                                    Reset measurements
                                </md-button>
                            </md-menu-item>

                            <md-menu-item>
                                <md-button ng-click="$ctrl.removeWebsite(website)" aria-label="Remove website">
                                    Remove
                                </md-button>
                            </md-menu-item>

                        </md-menu-content>

                    </md-menu>

                </div>

                
                <div layout="row" layout-align="center center">
                    <div class="pt-8 pb-32" layout="column" layout-align="center center">
                        <div class="font-size-72 line-height-72"
                            ng-class="{'light-blue-fg': $ctrl.isSuccessfulSLIOK(website), 'red-fg': !$ctrl.isSuccessfulSLIOK(website)}">
                            {{$ctrl.getSuccessfulResponsesSLI(website)}}
                        </div>
                        <div class="h3 secondary-text font-weight-500">SUCCESSFUL</div>
                    </div>
                    <div class="pt-8 pb-32" layout="column" layout-align="center center">
                        <div class="h3 secondary-text">LAST STATUS:</div>
                        <div class="h1">{{website.lastStatusCode}}</div>
                    </div>
                </div>
                        
                <div layout="row" layout-align="center center">
                    <div class="pt-8 pb-32" layout="column" layout-align="center center">
                        <div class="font-size-72 line-height-72"
                            ng-class="{'light-blue-fg': $ctrl.isFastSLIOK(website), 'red-fg': !$ctrl.isFastSLIOK(website)}">
                            {{$ctrl.getFastResponsesSLI(website)}}
                        </div>
                        <div class="h3 secondary-text font-weight-500">FAST</div>
                    </div>
                    <div class="pt-8 pb-32" layout="column" layout-align="center center">
                        <div class="h3 secondary-text">LAST RESPONSE:</div>
                        <div class="h1">{{website.lastResponseTime | number: 0}} ms</div>
                    </div>
                </div>

                <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                    <span class="h4 secondary-text text-truncate">Total requests:</span>
                    <span class="h4 ml-8">{{website.totalRequests}}</span>
                </div>

            </ms-widget-front>

        </ms-widget>

    </md-grid-tile>
</md-grid-list>