<div ng-cloak>
    <md-content class="md-padding" layout="column">
        <div ng-repeat="website in $ctrl.websites" flex="50">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            <md-input-container>
                                <label>Website</label>
                                <input ng-model="website.url">
                            </md-input-container>
                        </span>
                        <span class="md-subhead">
                            <md-input-container>
                                <label>Successful resp. SLO</label>
                                <input ng-model="website.successfulResponsesSLO" type="number">
                            </md-input-container>
                        </span>
                        <span class="md-subhead">
                            <md-input-container>
                                <label>Fast resp. SLO</label>
                                <input ng-model="website.fastResponsesSLO" type="number">
                            </md-input-container>
                        </span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <h1>{{$ctrl.getSuccessfulResponsesSLI(website)}}%</h1>
                        <h1>{{$ctrl.getFastResponsesSLI(website)}}%</h1>
                    </md-card-title-media>
                </md-card-title>
    </md-content>
</div>